:root{
	--plain: #fffffe;
	--headline: #272343; /*also button text, stroke*/
	--paragraph: #2d334a;
	--button: #ffd803; /*higlight*/
	--secondary: #e3f6f5; /*rgba(227, 246, 245, 1)*/
	--tertiary: #bae808;
};

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;  
}

.overflow{
	position: fixed;
	top: 0; left: 0;
	width: 100%; height: 100%;
	background-color: rgba(0, 0, 0, .4);
}

/*this is for 'main' element on the index/home page*/
.mainclass{
	padding: 15px 0 50px; /*this has 50px top formely, may lead to css errors in some previously built pages*/
	background-color: var(--secondary);
	/*background-color: rgba(227, 246, 245, .7);
	background-blend-mode: overlay;*/
	/*background-color: rgba(227, 246, 245, .8);
	background-blend-mode: screen;*/
	/*background-color: rgba(227, 246, 245, .8);
	background-blend-mode: soft-light;*/
	
}

p{
	color: var(--paragraph);
	font-weight: 600!important;
}

.within-main{
	width: 80%;
	margin: 0 auto;
}

.wide{
	padding: 50px;
	width: calc(100% - 100px);
}


.board{
	position: relative;
	background-color: var(--plain);
	margin: 20px auto 40px;
	opacity: 1;
	text-align: center;
	z-index: 5;
}

.flexor{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.workgroup{
	position: relative;
	margin: 0 auto;
	z-index: 5;
}

@media(max-width: 540px){
	.within-main{
		width: 98%;
	}
	.wide{
		padding: 50px 10px;
		width: calc(100% - 20px);
	}
	.flexor{
		flex-direction: column;
	}
}

button{
	background-color: var(--plain);
	padding: 10px 40px;
	outline: none;
	border: 1px solid var(--headline);
	margin: 10px 5px;
	border-radius: 20px;
	color: var(--headline);
	cursor: pointer;
}

button:hover, button.active{/*button:focus, removed .focus for better user experience. might create a diffrent style for focus like a black thivk outline or something*/
	background-color: var(--tertiary);
	
}

footer{
	padding: 10px 0 30px;
	text-align: center;
}

.cursorHover{
	cursor: pointer;
}