/*
So I would redesign this page in a way that the would make the uX way better on mobile-> starting from scratch

I would use display flex, justify cintent space between and flex direction column (vertical). 
Doing this and setting the min-height of the parent section (that has the alphabet, the flag, meaning and All other letters for easy scrolling)
to about 100vh. About because browsers have their own navigation ontop which may make 100vh lower (not fully coincide with the full screen)
anythin else will be at the bottom. I should still retain the design of individula elementrs tho
*/

.pop{
	width: calc(90vw + 100px);
	margin: 0 auto;
	position: relative;
	z-index: 10;
	background-color: var(--secondary); /*plain may be better*/
	padding: 30px 50px;
	min-height: calc(100vh - 50px)/*50 px for the bottom padding of the main*/;
}

.nav-group{
	display: flex;
	width: 100%;
	justify-content: space-around;
	margin: 15vh 0 20px;
}

@media(max-width: 540px){
	.pop{
		width: calc(96vw);
		padding: 30px 0;
	}
}

.nav-group a{
	background-color: var(--plain);
	font-size: 1rem;
	padding: 3px 10px;
	border-radius: 50%;
	box-shadow: .2px .2px 1px 1px rgba(0, 0, 0, .1);
	font-weight: 600;
	/*will need to add some margins later*/
}

.nav-group a:hover,.nav-group a:focus{
	background-color: var(--button);
}

.slider{
	width: calc(90vw); /*entire parent vw*/
	height: auto;
	display: flex;
	overflow-x: auto;
	/*webkit to make it swipe smoothly on mobile based browsers*/
	-webkit-overflow-scrolling: touch;
	scroll-behavior: smooth;
	/*now to make it snap on scroll*/
	scroll-snap-type: x mandatory;
}

.slider > div{
	scroll-snap-align: start;
}

.slider .slide{
	width: 100%;
	flex-shrink: 0;
}

.slide img{

}